$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
//endbower
.mt0{margin-top: 0;}
.mt1em{margin-top: 1em;}
.mr1em{margin-right: 1em;}
.mb1em{margin-bottom: 1em;}
.mt2em{margin-top: 2em;}
.mb2em{margin-bottom: 2em;}
.mt3em{margin-top: 3em;}
.ml1em{margin-left: 1em;}
.ml2em{margin-left: 2em;}
.pt1em{padding-top: 1em;}
.pb1em{padding-bottom: 1em;}
.mt5em{margin-top: 5em;}
.border-bottom{border-bottom: 1px dashed $gray;}
.clearfloat{clear: both;}

$blue:#14649e;
$lightgray:#EEEEEF;
$lightmoreGray:#C9CACA;
$deepblack:#222427;
$lightblack:#535454;
$height30em:30em;
$gray:#818080;
$white:#fff;
$yellow:#F0AC15;
$orange:#F08519;
$green:#009B4C;
$meetingblue:#00A2E9;
$purple:#B04B87;
.floatRight{float:right;}
.floatLeft{float:left;}
.colorlightmoreGray{color:$lightmoreGray;}
.colorWhite{color: $white;}
.orangeColor{color: $orange;}
.colorlightBlack{color: $lightblack;}
.colorBlue{color: $blue;}
.bgcolorWhite{background-color: $white;}
.bgcolorBlue{background-color: $blue;}
.bgcolorGray{background-color: #cccccc;}
.bgcolorLightgray{background-color: $lightgray;}
.ind-con-blue,.ind-con-white,.ind-con-gray{padding: 1em 0;
  @media(min-width: 768px) {
    padding: 2em 0;
  }}
.border-right1px{border-right: 1px solid $lightmoreGray;}
.ind-con-blue{background-color: $blue;}
.ind-con-white{background-color: $white;}
.ind-con-gray{background-color: $lightgray;}
.img-responsive{width:100%;margin: 0 auto;}
.btn-white{border: 1px solid $blue;padding:0.5em 1em;color: $blue;background-color: $white;
  &:hover{color: $white;background-color: $blue;
  .iconfont{color: $white;}
  }
  .iconfont{color: $blue;font-size: 1em;}
}
.btn-publish-art{color: $white;background-color: $blue;padding:0.35em 1em;cursor: pointer;
  &:hover{color: $white;background-color: $orange;}}
.select-blue{color: $white!important;background-color: $blue!important;border-radius: 0;}
.btn-blueWidht100{border-radius:4px;border:none;color: $white;background-color: $blue;padding:0.5em 1em;width:100%;&:hover{background-color: $orange;color: $white}}
.btn-blue{border-radius:0;border:none;color: $white;background-color: $blue;padding: 0.5em 1em;&:hover{background-color: $orange;color: $white}}
.btn-blue-publishcourse{width: 100%;background-color: $blue;padding: 0.5em 1em;&:hover{background-color: $orange;
}a{color:$white;} }
.btn-checkbox-white{color:$lightblack;background-color: $white;
  margin-right: 1em;
  &:hover{color: $white;background-color: $blue;}}
.btn{border-radius: 0;}
@mixin border-radius ($borderRadius) {
  -webkit-border-radius:$borderRadius;
  -moz-border-radius:$borderRadius;
  border-radius:$borderRadius;
}
@mixin transition ($transition) {
  -webkit-transition: $transition time;
  -moz-transition: $transition time;
  -o-transition: $transition time;
  transition: $transition time;
}
.whiteHr{border-top:1px solid #98A8CC;}
.blackHr{border-top:1px solid $lightmoreGray;}

//页面基础设置
body{font-family: "Arial","STXihei"; line-height:1.5em;color:$deepblack;background-color: $lightgray}
*{margin: 0; padding: 0;
  -webkit-transition: 1s time;
  -moz-transition: 1s time;
  -ms-transition: 1s time;
  -o-transition: 1s time;
  transition: 1s time;}
a{background:none; outline: none;border: none;color: $blue;}
a:focus,a:hover{ outline:none;text-decoration: none;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
h2{font-size: 1.5em;color: $deepblack;}
h3{margin-top:0.3em;color: $deepblack;}
h4{font-size: 1.3em;color: $deepblack;}
p{margin-bottom: 0;color: $lightblack}
i,span{font-style: normal}
.cont{background-color: $white;padding: 1em;}
.header{background-color: $white;
  @media (max-width: 767px) {
    border-bottom: 1px solid $lightmoreGray;
  }
}
ol{list-style: inside;}
ul{list-style: inside;}
.btn:active, .btn.active{box-shadow: none;}
.navbar{border: none;margin-bottom: 0;}
.navbar-brand{height: 60px;}
.form-control{border-radius: 0;}
.btn-search{border:1px solid $blue!important;color: $blue;}
.form-group{margin-bottom: 0;}
//改变间距
.help-block{margin: 0;}
// Default navbar
.head-top{border-bottom: 1px solid $lightmoreGray;}


//banner
#myCarousel{
  .carousel-control{top:45%;bottom:45%;}
  .carousel-caption{
    top:-10%;
    @media (min-width: 768px) {
      top:25%;

    }
    h1{font-size: 3em}p{font-size: 1.5em}}
}
//banner

.carousel-control{opacity: 1;}
.carousel-control.left{background: none;}
.carousel-control.right{background: none;}
.carousel-indicators{bottom:-0.5em}

/*首页*/
//专家盒子
.extBox{
  .extInro{@extend .cont;}
  .extMain{padding: 1em;}
  border:2px solid #98A8CC;
  .col-xs-6{padding: 0;}}
//文章盒子
.artBox{
  position: relative;z-index: 1;
  background-color: $white;
  height: auto;
  @media (min-width: 768px) {
    min-height: 20em;
  }

  .art-commt{.col-xs-4{padding:0 0.2em;}
    .col-xs-3{padding: 0;}
  }
  .artCont{height: 8.5em;word-break: break-all;}
  @media (min-width: 768px) {
    .artCont{position:absolute;z-index:10;bottom:0;max-height: 100%;width: 100%;background-color:$white;padding:1em;
      .art-info{padding: 0.5em 1em;
        color: $lightblack; position: absolute;top: -2.5em;left: 0;right: 0; z-index: 11;
        background-color:rgba(0, 0, 0, 0.5) !important; /* IE无效，FF有效 */ filter: alpha(opacity=50);
        .author{float: left;color:$white;}
        .time{float: right;color:$white;}
      }
    }
  }
  @media (max-width: 767px) {
    .artCont{background-color:$white;padding:1em;width: 100%;
      .art-info{padding: 0.5em 0;
        background-color: $white;
        .author{float: left;color: $lightblack;}
        .time{float: right;color: $lightblack;}
      }
    }
  }

}
//病例盒子
.medicalCaseBox{
  @extend .cont;
  .ept-info{
    img{
      @include border-radius(2em)
  }}
  position: relative;z-index: 1;
  background-color: $white;min-height: 20em;
  .author{float: left;color:$white;}
  .time{float: right;color:$white;}
  .art-info{position: absolute;top: -2.5em;left: 0;right: 0; z-index: 11;padding: 0.5em 1em;
    background-color:rgba(0, 0, 0, 0.5) !important; /* IE无效，FF有效 */ filter: alpha(opacity=50);
  }
  .artImage{max-height: 100%;}
  .art-commt{.col-xs-4{padding:0 0.2em;}
    .col-xs-3{padding: 0;}
  }
  .medical-img{.col-xs-4{padding: 0;}}
}
/*推荐*/
.recommend-triangle{
  position: absolute;z-index: 100;
  top:0; right: 0;
}

.bottomNav{list-style: none;margin-bottom: 0;
  background-color: $white;text-align: center;
  li{display: inline-block;padding: 1em 5%;
    @media (min-width: 768px) {
      padding: 2em 5%;
    }
    a{color: $lightblack;
      &:hover{color: $blue;}}
  }}
.bot-box1{border-top: 1px solid $lightmoreGray; border-bottom: 1px solid $lightmoreGray;}
.bot-box2{padding: 2em;font-size: 0.8em
}

.opacityHeader{background-color:rgba(255, 255, 255, 0.7) !important; /* IE无效，FF有效 */ filter: alpha(opacity=70);
  border-bottom: 1px solid $lightmoreGray;
  .navbar-nav {
    > li > a {
      font-size: 1.2em;
      &:hover,
      &:focus {
        color: $blue;
        border-bottom: 4px solid $blue;
        @include transition(0s);
        background:none;
      }
    }
    > .active > a {
      color: $blue;
      background:none;
      border-bottom: 4px solid $blue;
      &:hover,
      &:focus {
        color: $blue;
        background:none;
      }
    }
  }
}
/*文章资讯*/
.newNav{background-color: $white;text-align: left;
  @media (min-width: 768px) {
    margin-top: 2em;
  }
  .col-xs-12{
    @media (max-width: 767px) {
      padding: 0;
    }
  }

  .nav-box{border-bottom:1px solid $lightmoreGray;padding: 0.1em 0;background-color: $white;
    ul{list-style: none;
      margin-bottom: 0;
      li{display: inline-block;
        @media (max-width: 767px) {
          width: 30%;
        }
        a{color: $deepblack;font-size: 1.2em;;display: inline-block;text-align: center;
          border-bottom: 3px solid $white;

          @media (min-width: 768px) {
            padding: 1em 1.5em;
          }
          @media (max-width: 767px) {
            padding:0.5em 1em;
          }
          &:hover{color: $blue;border-bottom: 4px solid $blue;}
        }
        .active{color: $blue;border-bottom: 3px solid $blue;
          &:hover{color: $blue;border-bottom: 3px solid $blue;}
        }
      }
      .more{vertical-align: middle;
        a{color: $blue; }
      }
      .publish-course{
        cursor: pointer;
        float: right;
        a{ background-color: $blue;color: $white;
          &:hover{color: $white;background-color:$orange;border-bottom: none}
        }
      }
    }
  }
  .art-label{background-color: $white;padding: 1em;
    .more{color: $blue;}
    a{color: $lightblack;&:hover{color: $themeColor;}}
    .active{color: $themeColor;}
  }
}
.title{border-bottom:1px solid $lightmoreGray;
  .title-intro{font-size:1.2em;border-bottom: 4px solid $deepblack;float:left; padding:0.5em 0.3em;}
  .more{font-size: 1.2em;float: right;color: $blue;padding-top: 0.3em;}
}
.rel-art-box{
  .art-detail{
    word-break:break-all;
    height:6em;
  }
  .col-xs-4,.col-xs-8{padding-right: 0;}
  .col-xs-8{padding-left:1em;}
  .col-xs-4{padding-left: 0;}
}
.rel-art-more{
  list-style: inside;
  margin-top: 1em;
  li{color: $lightblack;line-height: 2em;
    a{color: $lightblack;&:hover{color: $blue;}}
  }
}
.quality-class-box{
  .qul-class{list-style: none;
    li{border-bottom: 1px dashed $lightmoreGray;padding-bottom: 1em;
      a{color: $lightblack;
        &:hover{color: $blue;}
      }
    }

  }
  .col-xs-2,.col-xs-10{padding-right: 0;}
  .col-xs-2{padding-left: 0}
  .col-xs-10{padding-left: 1em;}
}
//相关病例
.rel-medical-case{
  list-style:decimal;
  li{list-style: inside;padding: 1em 0;border-bottom: 1px dashed $lightmoreGray;}
  .name{float: left;}
  .time{float: right}
  a {
    color: $lightblack;
    &:hover {
      color: $blue;
    }
  }
}
//近期会议
.rel-meeting{
  line-height: 2em;
  list-style: inside;
  a {
    color: $lightblack;
    &:hover {
      color: $blue;
    }
  }
}
//推荐病例
.recomand-post{
  >li{
    padding: 1em 0;
    border-bottom: 1px solid $lightmoreGray;
  }
  list-style: inside;
  a {
    color: $lightblack;
    &:hover {
      color: $blue;
    }
  }
  .commtBox{list-style: none;
    li{display: inline-block;
      &:not(:first-of-type){
        margin-left: 1em;
      }
    }
  }
}

/*在线课堂*/
.onlineClassBanner{
  margin-top: 2em;
  @media (max-width: 767px) {
    margin-left: -15px;margin-right: -15px;
    margin-top: 0;
  }
}
.courseNav{
  background-color: $white;text-align: left;
  @media (min-width: 768px) {
    margin-top: 2em;
  }
  .col-xs-12{
    @media (max-width: 767px) {
      padding: 0;
    }
  }

  .nav-box{border-bottom:1px solid $lightmoreGray;padding: 0.1em 0;background-color: $white;
    >ul{list-style: none;
      margin-bottom: 0;
      >li{display: inline-block;

        @media (max-width: 767px) {
          width: 24%;
        }
        >a{color: $deepblack;font-size: 1.2em;;display: inline-block;text-align: center;
          border-bottom: 3px solid $white;

          @media (min-width: 768px) {
            padding: 1em 1.5em;
          }
          @media (max-width: 767px) {
            padding:0.5em 0.2em;
          }
          &:hover{color: $blue;border-bottom: 3px solid $blue;}
        }
        .active{color: $blue;border-bottom: 3px solid $blue;
          &:hover{color: $blue;border-bottom: 3px solid $blue;}
        }
      }
      .more{vertical-align: middle;
        a{color: $blue; }
      }
      .publish-course{
        cursor: pointer;
        float: right;
        a{ background-color: $blue;color: $white;
          &:hover{color: $white;border-bottom: none}
        }
      }
      .publish-medicalCase{float: right;
        @media (min-width: 768px) {
          padding: 0.5em 1.5em;
        }
        @media (max-width: 767px) {
          padding:0.5em 1em;
        }
      }
    }
  }
  .art-label{background-color: $white;padding: 1em;
    .more{color: $blue;}
  }
  .dropdown-toggle{color: $blue;background-color: $white;}
}
.moreArticle{.col-xs-8{padding-left: 0;}}
.article{margin-top: 1em;border-bottom: 1px solid $lightmoreGray;padding-bottom: 1em;
  .col-xs-3{padding: 0;}
  .time{color: $lightblack;font-size: 0.8em;}
  .commtBox{list-style: none;
    li{display: inline-block;
      &:not(:first-of-type){
        margin-left: 1em;
      }
    }
  }
  .art-detail{
    word-break:break-all;
    height:8em;
  }
  .articleClass{color: $lightblack;&:hover{color: $themeColor;}}
}
i{color: $lightblack;}
.articleDetail{@extend .cont;
  img{width: 100%;max-width: 100%;margin:0 auto;}
  .art-commt{a{color: $lightblack;}}
  span{margin-right: 1em;}
  .art-head{border-bottom: 1px solid $lightmoreGray;padding-bottom: 1em;}
  .art-cont{margin-top: 1em;}
  .rel-art{border-top: 1px solid $lightmoreGray;padding: 1em 0;
    a{color: $deepblack;&:hover{color: $blue;}}
  }
  .bdsharebuttonbox{display: inline;
  }
  .bdshare-button-style0-16 .bds_more{
    float: right;
    margin:0 0 0 1em;
    background: none;
  }
  .shareIcon{color: $lightblack;font-size: 1em;}
}
//推荐阅读
.rel-classify{
  ul{list-style: none;
    li{display: inline-block;width: 30%;padding: 0.5em 1em;
      a{color: $lightblack;
        &:hover{color: $blue;}
      }
    }
  }
}
//相关分类
.recomand-read{
  i{color: $lightblack;}
  .qul-read {
    list-style: none;
    li {
      border-bottom: 1px dashed $lightmoreGray;
      padding-bottom: 1em;
      a {
        color: $lightblack;
        &:hover {
          color: $blue;
        }
      }
    }
  }
  .col-xs-2,.col-xs-10{padding-right: 0;}
  .col-xs-2{padding-left: 0}
  .col-xs-10{padding-left: 1em;}
}
//评论
.comment{
  @extend .cont;
}
.comt-cont{list-style: none;li{border-bottom: 1px dashed $lightmoreGray;}
  ul{list-style: none;}
  .col-xs-9{padding-left:0;}
}
/*讲骨堂*/
.jianggutangBanner{
  margin-top: 2em;
  @media (max-width: 767px) {
    margin-left: -15px;margin-right: -15px;
    margin-top: 0;
  }
  #jianggutangCarousel{
    .carousel-control{top:45%;bottom:45%;}
    .carousel-caption{
      top:-10%;
      @media (min-width: 768px) {
        top:25%;
      }
      h1{font-size: 3em}p{font-size: 1.5em}}
  }
}
.userFriend{a{color: $lightblack;&:hover{color: $blue;}}}

//页数
.pagination{margin: 0;float: right;
  a{color: $blue;}
  .active a{
    background-color: $blue;
    border-color:$blue;
    &:hover,&:focus{color:$white;border-color:$blue;background-color: $blue;}
  }
  >li{display: inline-block;margin-top: 0.5em;vertical-align: middle;margin-left: 1em;
    &:first-child,&:last-child{a{border-radius: 0;}}
    >a{border:1px solid $blue;
      background: none;
      &:hover,&:focus {
        color: $white;
        background-color: $blue;border-color: $blue;
      }
    }
  }
  .inputPage{width: 6em;
    .form-control{border: 1px solid $blue;height: 36px;background: none;}
    .input-group-addon{border-radius: 0;border: 1px solid $blue;border-left:none;background:none;}
  }
}
.pagination>li:first-child>a{border-radius: 0;
}
.pagination>li>a, .pagination>li>span{color: $blue;}
//发病例
.medicalCaseEdit{
  .input-group-addon{background-color: $white;border: none;}
  .form-control{background-color: $white;border: none;}
  .btn-group{width: 100%;
  }
  .btn-checkbox-white{margin-left: 1em;margin-top: 1em; padding: 0.5em 5em;}
  .btn-checkbox-white.active{background-color: $blue;color: $white;}
  .input-group-addon{border-radius: 0;}
  .addImages{
    .finishImg{
      .IconDeleteImg{position: absolute;top:0.4em;right:1.4em;font-size: 1em;color: $white;
        background-color:rgba(0, 0, 0, 0.5) !important; /* IE无效，FF有效 */
        filter: alpha(opacity=50);
        border-radius: 1em;
        padding: 0.3em;
      }
      img{&:hover{
    }}}
  }
}
.medical-explain{@extend .cont;ol{list-style: inside;}}
.control-label{font-size: 1.2em;color: $deepblack;display: block;}
.example-wrapper{ul{list-style: none}}
.panel-group{
  .panel{margin-top: 1em;}
  .panel + .panel{margin-top: 1em;}
}
#meeting-box{ul{list-style: none;}}
.dateConference{
  .col-xs-4{padding: 0;}
}

.panel-default .panel-heading{background-color: $blue;color: $white;}
//全年会议
.meetingList{list-style: none;
  li{
    padding: 1em 0;
    &:not(:first-of-type){
      border-top: 1px solid $lightmoreGray;
    }
  }
  a{color: $lightblack;&:hover{color: $blue;}
  }
}
/*登录弹出框*/
.signBox{
  border-radius: 0;
  .input-group{height: 42px;overflow: hidden;}
  .input-group-addon{border-radius: 0;background: none;height:40px;overflow: hidden;}
  .form-control{height:42px;overflow: hidden;}
}
/*注册*/
.reg-logo{
  width: 195px; height: 70px;background: url(../images/public/logo.png) no-repeat;
  background-size: 100%;
}
.registerBox{
  @extend .cont;
  border-radius: 0;
  .input-group{height: 42px;overflow: hidden;}
  .input-group-addon{border-radius: 0;
    background:$white;
    height:40px;overflow: hidden;}
  .authcode{
    .input-group-btn{background-color: $blue;padding: 0;border: none;}
    .btn-blue{&:hover{color: $white;background-color: $blue;}}
  }
  .form-control{height:42px;overflow: hidden;}
}
//个人中心
.userIntro{background-color: $white;
  .col-xs-3{padding-right: 0;}
.userIntroCont{@extend .cont;}
  ul{list-style: none;li{display: inline-block;
    margin-right: 2em;
    a{display: inline-block;}
  }}
}
.userNav{background-color: $white;
  >ul{
  list-style: none;width: 100%;
    max-width: 100%;
    >li{display: inline-block;
      width: 12%;max-width: 12%;text-align: center;
      a{padding: 1em 0;
        display: block;
        color: $lightblack;
        &:hover,&:focus{
          border-bottom: 4px solid $blue;
          color: $blue;
        }
      }
      .active{border-bottom: 4px solid $blue;color: $blue;}
    }
  }
}
.userContLeft{@extend .cont;}
.userContRight{@extend .cont;
  .artNews{list-style: none;
    li{text-align: center;
      display: inline-block;
      a{font-size: 1.0em;padding: 0.5em 1em;display: block;
        color: $lightblack;&:hover{color: $blue;}}
      .more{color: $blue;}
    }
  }
  .addImge{height: 100px; border: 1px solid $blue;text-align: center;vertical-align: middle;cursor: pointer;}
}
.userBaseInfo{
  .input-group-addon{background: none;}
  .personIntro{border: 1px solid $lightmoreGray;padding: 0.5em;}
  .form-control[disabled]{background: none;border: none;}
}
.replyMessage{
  margin-top: 1em;
  background-color: $lightgray;padding: 1em;
  ul{list-style: none;}
}
.replyTextarea{display: none;}
.requireCode{padding: 0!important;background-color: $blue;color: $white;}


.fileUpload {
  position: relative;
  overflow: hidden;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 4em;
  cursor: pointer;
  opacity: 0;
}
//我的帖子
.myPost{
  a{color: $lightblack;&:hover{color: $themeColor;}}
}
//联系我们
.contactBox{
  @extend .cont;
}

.divideGroupsLabel{padding:0.5em 0;}
/*字体图标*/
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dingwei:before { content: "\e618"; }
.icon-shouji:before { content: "\e61a"; }
.icon-app:before { content: "\e619"; }
.icon-jiantou:before { content: "\e60e"; }
.icon-jiantou1:before { content: "\e60f"; }
.icon-tuijian:before { content: "\e600"; }
.icon-xiangyou:before { content: "\e601"; }
.icon-other:before { content: "\e603"; }
.icon-jianggutang:before { content: "\e60d"; }
.icon-jinyoushequ:before { content: "\e604"; }
.icon-liulan:before { content: "\e605"; }
.icon-shoucangjiaohu:before { content: "\e606"; }
.icon-shoucang:before { content: "\e607"; }
.icon-xueshuhuiyi:before { content: "\e60a"; }
.icon-yonghuming:before { content: "\e60b"; }
.icon-zaixianketang:before { content: "\e60c"; }
.icon-fenxiang:before { content: "\e602"; }
.icon-shanchu:before { content: "\e608"; }
.icon-jia:before { content: "\e609"; }
.icon-weiduxiaoxi:before { content: "\e610"; }
.icon-weiduliuyan:before { content: "\e611"; }
.icon-weiduhuitie:before { content: "\e612"; }
.icon-renzheng:before { content: "\e613"; }
.icon-jiahaoyou:before { content: "\e614"; }
.icon-youxiang:before { content: "\e615"; }
.icon-yonghuming1:before { content: "\e616"; }
.icon-mima:before { content: "\e617"; }
.icon-jiantou2:before { content: "\e61d"; }
.icon-fenlei:before { content: "\e61b"; }
.icon-time:before { content: "\e61c"; }




// 图标定义
.leftIcon,.rightIcon{font-size: 1.2em;}
.onlineClassIcon,.churchIcon,.meetingIcon,.communityIcon{font-size: 10em;line-height: 1em;
  @media (max-width: 767px) {
    font-size: 5em;
  }
}
.arrowIconWhite{color:$white;font-size: 1.5em;border: 1px solid $white;padding: 0.2em;@include border-radius(1em);
  &:hover{color: $blue;background-color: $white;}
  @media (max-width: 768px) {
    font-size: 1em;
  }
}
.arrowIconBlue{color:$blue;font-size: 1.5em;border: 1px solid $blue;padding: 0.2em;@include border-radius(1em);
  &:hover{color: $white;background-color: $blue;}
  @media (max-width: 768px) {
    font-size: 1em;
  }
}
.IconRegister{color: $gray;font-size: 1.5em;}
.onlineClassIcon,{color:$orange;}
.churchIcon,{color:$green;}
.meetingIcon{color: $meetingblue;}
.communityIcon{color:$purple;}
.commtIcon{font-size: 1em;color: $lightblack;}
.recommendIcon{font-size: 1.5em;color: $orange;}
.upload_box{ margin:1em auto;}
.upload_main{border-width:1px 1px 2px; border-style:solid; border-color:#ccc #ccc #ddd; background-color:#fbfbfb;}
.upload_choose{padding:1em;}
.upload_drag_area{display:inline-block; width:63%; padding:4em 0; margin-left:.5em; border:1px dashed #ddd; background:#fff no-repeat 20px center; color:#999; text-align:center; vertical-align:middle;
  @media (max-width: 768px) {
    display: none;
  }
}
.upload_drag_hover{border-color:#069; box-shadow:inset 2px 2px 4px rgba(0, 0, 0, .5); color:#333;}
.upload_preview{width:100%;max-width:100%;border-top:1px solid #D2D2D2; border-bottom:1px solid #bbb; background-color:#fff;padding: 1em;}
.upload_append_list{height:100%; margin:1em; float:left; position:relative;}
.upload_append_list:hover{cursor:pointer;}
.upload_delete{margin-left:2em;}
.upload_image{/* max-height:135px; */ padding:0px;}
.upload_submit{padding-top:1em; padding-left:1em;}
.upload_submit_btn{height:32px; font-size:14px;display:none;}
.upload_progress{padding:5px; border-radius:10px; color:#fff; background-color:rgba(0,0,0,.6); position:absolute; left:25px; top:45px;}


.andArea{
  background: url("../images/fileType/add_img.png") no-repeat scroll center 5px rgba(0, 0, 0, 0);
  border: 1px dashed #E6E6E6;
  color: #CCCCCC;
  font-size: 18px;
  padding-top: 77px;
  position: relative;
  text-align: center;
  top: 0;
  height: 7.5em;
}
.filePicker{
  background: none repeat scroll 0 0 $themeColor;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  height: 44px;
  line-height: 44px;
  width: 90%;
  min-width:120px;
  margin: 0 auto 0;
  overflow: hidden;
  transition: background 0.2s;
  -moz-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
}
.filePicker:hover{
  background: none repeat scroll 0 0 $orange;
}
.convent_choice{
  float: left;
  height: 130px;
  width: 35%;
  @media (max-width: 768px) {
    width: 100%;
    max-width: 100%;
  }
}



.status_bar{
  border-top: 1px solid #DADADA;
  line-height: 35px;
  padding:0.5em;
  position: relative;
  vertical-align: middle;
  background-color: #FFFFFF;
}
.info{
  float:left;
  color:#666666;
  display: inline-block;
}

.webuploader_pick{
  -moz-user-select: none;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 3px;
  color: #565656;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 14px;
  margin-left: 10px;
  padding: 0 18px;
  position: relative;
  text-align: center;
  line-height: 32px;
  transition: border 0.2s;
  -moz-transition: border 0.2s;
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
}
.webuploader_pick:hover{
  border: 1px solid #BBB;
}
.upload_btn{
  background: none repeat scroll 0 0 $themeColor;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 14px;
  margin-left: 10px;
  padding: 0 18px;
  position: relative;
  text-align: center;
  line-height: 34px;
  transition: background 0.2s;
  -moz-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
}
.upload_btn:hover{
  background: none repeat scroll 0 0 $orange;
}
/* 每个图片上的操作bar */
.file_bar{
  margin: 0;
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
  height:0;
  padding:0;
  opacity: 0.8;
  color:#fff;
  background: none repeat scroll 0 0 #000000;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  overflow: hidden;
}
.file_bar a{
  color: #FFFFFF;
  position: absolute;
  right: 10px;
}
.file_hover{
  height:30px;
  cursor:pointer;
}
.uploadImg{
  margin:0px;
  /* max-height:135px; */
}
.file_progress{
  display: none;
  margin: 0;
  position: absolute;
  bottom:0;
  height:8px;
  left:0;
  right:0;
  background: none repeat scroll 0 0 $themeColor;
  text-align:center;
  width: 0;
}
.file_failure{
  display: none;
  margin: 0;
  position: absolute;
  bottom:0;
  height:24px;
  left:0;
  right:0;
  background: none repeat scroll 0 0 red;
  color:#fff;
  text-align:center;
}
.file_success{
  display: none;
  margin: 0;
  position: absolute;
  bottom:0;
  height:40px;
  left:0;
  right:0;
  background: url("../images/fileType/success.png") no-repeat scroll right bottom transparent;
}
.file_name{
  margin:0px;
  white-space: nowrap;
  width: 66%;                  /* IE6 需要定义宽度 */
  overflow: hidden;
  -o-text-overflow: ellipsis;    /* Opera */
  text-overflow:    ellipsis;    /* IE, Safari (WebKit) */
  float: left;
}
.file_edit{
  width:18px;
  height:18px;
  display: inline;
  -moz-user-select: none;
  position: absolute;
  right:22px;
  margin-top:4px;
}
.file_edit:hover{
}
.file_del{
  background: url("../images/fileType/delete_white.png") no-repeat scroll 0 0 transparent;
  width:18px;
  height:18px;
  display: inline;
  -moz-user-select: none;
  position: absolute;
  right:3px;
  margin-top:4px;
}
.file_del:hover{
  background: url("../images/fileType/delete_blue.png") no-repeat scroll 0 0 transparent;
}

/* 设置图片等比例缩放 并且垂直居中*/
.upload_append_list a {
  display: table-cell;
  /*  width: 140px;
   height: 120px; */
  text-align: center;
  vertical-align: middle;
  border: 1px solid #DFDFDF;
  background: url("../images/fileType/bg.png") no-repeat scroll center 0px transparent;
}
.upload_append_list img {
  border: solid 1px #66f;
  vertical-align: middle; /*图片垂直居中*/
}
.uploadImg {
  margin: auto;
}
.uploadImg img{
  border:none;
  max-width: 100%!important;
  height: auto!important;
}

/* 不带有拖拽的样式 */


.add_imgBox{
  border: 1px solid $lightmoreGray;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  transition: border 0.2s;
  -moz-transition: border 0.2s;
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
}
.add_imgBox:hover{
  border: 1px solid #BBB;
}
.single_main{
  border-top:0;
}
#account-manage{
  .col-xs-3{padding-left: 0;}
}

/*首页*/
//字体图标
.homeIcon{font-size: 1.2em;color: $white;}
.zxIcon{font-size: 1.2em;color: $lightblack;}
.home-comment{padding-top: 8em;list-style: none;
  i{color: $white;}
  li{
    display: inline-block;
    &:not(:first-of-type){
      padding-left: 2em;
    }
  }
}
.touming1,.touming2,.touming4,.touming5{
  h1{color: #fff;margin: 0;font-size: 2em;}
}
.st-3 .touming3{
  h1{color: #fff;margin: 0;font-size: 2em;}
}
.pt1{
  h1{font-size: 2.5em;}
}
.pt3 .touming3{
  h1{color: #fff;margin: 0;font-size: 1.5em;}
  .home-comment{
    li{display: block;
      padding: 0;
    }
  }
}
.pt1{
  .home-comment{padding-top: 20%}
}
.pt2{
  .home-comment{padding-top: 20%;}
}
.pt3{
  .home-comment{padding-top: 20%;}
}
.pt4{
  .home-comment{padding-top: 20%;}
}
.pt5{
  .home-comment{padding-top: 20%}
}
.st-1,.st-2,.st-3{
  .home-comment{padding-top: 20%}
}
.imgbox_left,.imgbox_right{
  i{color: #fff;font-size: 1.2em;}
}
.zx_foot{list-style: none;
  margin-top: 1em;margin-bottom: 1em;
  li{
    display: inline-block;
    &:not(:first-of-type){
      padding-left: 2em;
    }
  }
}
.text-cont{
  padding-top:2em;color: $gray;font-size: 1em;
  word-break:break-all;
    height:5em;
}
.video_list{list-style: none;
  li{
    display: block;
    padding: 1em;
    &:not(:first-of-type){
      border-top:2px solid $lightblack;
    }
  }
  margin-bottom: 0;
  .mtc-text{color: $white;font-size: 1.2em;
    .time{font-size: 0.8em;}
  }
}
.foot_la,.foot_ma,.foot_ra img{padding:2em;}
.foot_lb,.foot_mb,.foot_rb{
  h2{font-size: 1.5em;padding:0 1em 1em 1em; margin-top: 0;
    a{color: $deepblack;&:hover{color: $themeColor;}}
  }
}
.main_left_content{
  h2{font-size: 1.5em;display: block; margin-top:0;
    a{color: $deepblack;&:hover{color: $themeColor;}}
  }
}
.medical-label{padding: 0.5em;background-color:#3b3487;position: absolute;top:0;left: 0;color: $white;}
.medical-list{  list-style: none;margin-bottom: 0;
  >li{
    display: block;
    padding:1em 1em 0 1em;
  }

  .mtc-text {
    h5 {
      margin-top: 0;
      a{color:$deepblack;&:hover{color: $themeColor;}}
    }
    .time{font-size: 0.8em;}
    .zx_foot{margin: 0;}
  }
}
.study{
  .col-4{width: 33.3%;float: left;}
}
.date_l,.date_m,.date_r{
  h1{
    font-size: 1.2em;
    margin-top: 0;
    a{color:$deepblack;&:hover{color: $themeColor;}}
  }
}
.mid_top{margin-top: 3em;
  a{color: $deepblack;
    &:hover{
      color: $themeColor;
    }
  }
}
.right_top{margin-top: 3em;
  a{color: $deepblack;
    &:hover{
      color: $themeColor;
    }
  }
}
.error-box{
  width: 380px;
  height: 400px;
  padding: 8em 0;
  h1{color: $orange;}
  border: 1px solid $lightmoreGray;
  box-shadow:  5px 5px 2px $lightblack;
  margin: 2em auto;
}
.pt1 .touming1{padding:3em;width: 100%;height: 390px;background-color:rgba(211, 152, 33, 0.7) !important; /* IE无效，FF有效 */ filter: alpha(opacity=70);
  &:hover{background-color:rgba(211, 152, 33, 0.8) !important; /* IE无效，FF有效 */ filter: alpha(opacity=80);}
}
.pt2 .touming2{ padding:3em;width: 100%;height: 260px;background-color:rgba(59, 52, 135, 0.7)!important; /* IE无效，FF有效 */ filter: alpha(opacity=70);
  &:hover{background-color:rgba(59, 52, 135, 0.8)!important; /* IE无效，FF有效 */ filter: alpha(opacity=80);}
}
.pt3 .touming3{ padding:3em;width: 100%;height: 260px;background-color:rgba(105, 86, 78, 0.7) !important; /* IE无效，FF有效 */ filter: alpha(opacity=70);
  &:hover{background-color:rgba(105, 86, 78, 0.8)!important; /* IE无效，FF有效 */ filter: alpha(opacity=80);}
}
.pt4 .touming4{ padding:3em;width: 100%;height: 260px;background-color:rgba(48, 84, 105, 0.7) !important; /* IE无效，FF有效 */ filter: alpha(opacity=70);
  &:hover{background-color:rgba(48, 84, 105, 0.8)!important; /* IE无效，FF有效 */ filter: alpha(opacity=80);}
}
.pt5 .touming5{ padding:3em;width: 100%;height: 390px;background-color:rgba(173, 45, 22, 0.7) !important; /* IE无效，FF有效 */ filter: alpha(opacity=70);
  &:hover{background-color:rgba(173, 45, 22, 0.8)!important; /* IE无效，FF有效 */ filter: alpha(opacity=80);}
}
.st-1 .touming1{padding:3em;width: 100%;height: 260px;background-color:rgba(211, 152, 33, 0.7) !important; /* IE无效，FF有效 */ filter: alpha(opacity=70);
  &:hover{background-color:rgba(211, 152, 33, 0.8)!important; /* IE无效，FF有效 */ filter: alpha(opacity=80);}
}
.st-2 .touming2{padding:3em;width: 100%;height: 260px;background-color:rgba(173, 45, 22, 0.7) !important; /* IE无效，FF有效 */ filter: alpha(opacity=70);
  &:hover{background-color:rgba(173, 45, 22, 0.8)!important; /* IE无效，FF有效 */ filter: alpha(opacity=80);}
}
.st-3 .touming3{padding:3em;width: 100%;height: 260px;background-color:rgba(48, 84, 105, 0.7)!important; /* IE无效，FF有效 */ filter: alpha(opacity=70);
  &:hover{background-color:rgba(48, 84, 105, 0.8)!important; /* IE无效，FF有效 */ filter: alpha(opacity=80);}
}
//底部导航
.feedback input{
  background-color:$lightgray;
}

.opinion textarea{
  background-color:$lightgray;
}
.table {
  background-color: $white;
  .th_1{
    width:20%
  }
  .th_2{
    width:40%
  }
  .th_3{
    width:40%
  }
}
.send input{
  border: none;
  background-color:$blue;
  color: #ffffff;
  border-radius:0;
  width:100%;height: 40px;
}


//认证
.certify{
  .col-xs-3{
    padding-right: 0;
  }
}

.nav-stacked {
  text-align: center;
  > li > a {
    border-bottom: 3px solid $lightgray;
    font-size: 1.2em;
    color: $lightblack;
    &:hover,
    &:focus {
      color: $blue;
      border-bottom: 3px solid $blue;
      @include transition(0s);
      background: none;
    }
  }
  > .active > a {
    color: $blue;
    background: none;
    border-bottom: 3px solid $blue;
    &:hover,
    &:focus {
      color: $blue;
      background: #ffffff;
    }
  }
}
/*认证*/
.certify{
  .col-xs-3{
    padding-right: 0;
  }
}
.nav-stacked li{
  text-align: center;
  @media (max-width: 767px) {
    text-align: center;
    display: inline-block;
    width: 30%;
  }
}
/*会议全年预览*/
.conferenceBox{
  .IconOpen{font-size: 1.2em;color: $white;margin-left: 1em;}
  .time{
    height: 8em;
    line-height: 2em;
    text-align: center;
    padding:2em 0.2em;
    width: 20%;float: left;
    background-color: $themeColor;
    h2{color: $white;margin: 0;}
    p{color: $white;text-indent: 0.3em;text-align: center;}
    cursor: pointer;
  }
  .first-meeting{
    height: 8em;
    word-break: break-all;
    h4{
      a{color: $deepblack;
      &:hover{color: $themeColor;}
      }
    }
    padding: 1em;
    width: 80%;background-color: $white;float: left;
  }
  .meeting{width: 80%;float: right;list-style: none;
    li{border-top:1px solid $lightmoreGray;padding: 1em;}
    background-color: $white;}
  h4{
    a{color: $deepblack;
      &:hover{color: $themeColor;}
    }
  }
}
.btn-upImg{position: relative;overflow: hidden;display:inline-block;padding:0 1em;font-size:1em;
  color:#fff;text-align:center;vertical-align:middle;cursor:pointer;
  background-color:$themeColor;
  }
.btn-upImg input {position: absolute;top: 0; right: 0;margin: 0;border: solid transparent;opacity: 0;filter:alpha(opacity=0); cursor: pointer;}
.delete-img{padding:0.5em;position:absolute;top:0;right:15px;background-color:rgba(1, 1, 1, 0.5)!important; /* IE无效，FF有效 */ filter: alpha(opacity=50);}
.commtIcon1{
  font-size: 3em;
  color:#ffffff;
  background-color:$orange;
  padding: 25px;
  border-radius: 50px;

}
.commtIcon2{
  font-size: 3em;
  color:#ffffff;
  background-color:$meetingblue;
  padding: 25px;
  border-radius: 50px;
}.commtIcon3{
   font-size: 3em;
   color:#ffffff;
   background-color:$green;
   padding: 25px;
   border-radius: 50px;
 }
.forgetPasswordBox{
  background-color: $white;
  @media (min-width: 992px) {
    padding: 0 8em;
  };
}
.date_1 {
  width: 100%;
  list-style: none;
  li {
    margin-bottom: 1em;
    border-bottom: 1px dashed $lightmoreGray;
  }
  h1 {
    margin-bottom: 0.3em

  }
}
